/* General styling for the content */
.content {
    padding: 20px;
    background-color: white;
}

/* Responsive service grid */
.services {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

/* Change to 3-column grid on larger screens */
@media (min-width: 768px) {
    .services {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Styling for individual service cards */
.service {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    /* Centering content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: 100%; /* Ensure the card grows with content */
}

.service img {
    width: 60%;
    height: auto;
    margin-bottom: 20px;
}

/* Responsive image size to prevent cutting */
@media (max-width: 600px) {
    .service img {
        width: 80%;
    }
}

.service h2 {
    padding: 10px 0;
    margin: 0;
    color: black;
}

.service p {
    padding: 10px 0;
    margin: 0;
    color: black;
}

/* Hover effect */
.service:hover {
    transform: scale(1.05);
}
